li{
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
}

h1, h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10px;
}

nav {
    display: block;
}

.fondodatos{
    background: #BAB8B8;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 20px auto;
    padding: 10px;
}

/* .formulario {
  background: #BAB8B8;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding: 20px;
  margin: 20px;
  padding: 20px;
} */

.menu{
    background: gray;
    color: white;
    padding: 5px 15px;
}

nav ul li a{
    margin-left: 50px;
    text-decoration: none;
    font-weight: bold;
}


.menu li{
    list-style: none;
    padding: 5px;
    display: inline-block;
}

img{
    width: 89px;
    /* height: 89px; */
    margin-top: -90px;
    display: inline;
    float: left;
    display: block;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 50%;
    display: block;
  }
  [class*="grupo-input"] {
    display: block;
  }
  body {
    background-color: #6a2cde
  }
}

.contenedor {
  border-radius: 10px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  /* border: 1px solid black; */
}

.grupo-input {
  display: inline-block;
  margin: 10px;
}

.gbox_documents{
  width: 60px;
}
