{% extends 'base.html' %}
{% load static %}

{% block title%}Consulta{% endblock %}

{% block content %}

<form class="" action="" method="post">
    {% csrf_token %}
	<div class="fondodatos contenedor col-7">
		<center>
		<h3>Consulta de Expedientes</h3>
	    <div class="grupo-input"; style= "width: 50%">
      	<label class="" for="txt_nombre">Introduzca Nombre o NoControl</label>
      	<input class="form-control" type="text" id="txt_nombre" name="txt_nombre">
    	</div>

    	<div>
        <label for="prefijo" style="margin-top: 4%;">Filtrar por</label>
    		<select class="form-control" style="width: 20%;" id="prefijo" name="prefijo">
      		<option value="Nombre">Nombre</option>
      		<option value="NoControl">No. de Control</option>
    		</select>
    	</div>

    	<div class="grupo-input col-2" style="margin-top: 4%;">
      	<input class="btn btn-success" name="btn_subir" type="submit" value="Buscar">
    	</div>
		</center>
	</div>
</form>
{% endblock %}
