{% extends 'base.html' %}

{% load static %}

{% block title %}
Expediente de {{ numero_control }}
{% endblock %}
{% if request.user.is_authenticated %}
{% block content %}
{% if error %}
  {{ error }}
  <a class="btn btn-primary" href="/">Volver al inicio</a>
{% else %}
  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="fondodatos contenedor col-6">
      <center>
        <h5>Expediente de {{ nombre_completo }}</h5>

        <input class="form-control" style="width: 60%; margin-top: 2%;" type="file" name="archivo" value="Seleccionar archivo" required>
        <select class="form-control" style="width: 20%; margin-top: 2%;" name="prefijo" required>
          <option value="">-- Elija una opción --</option>
          <option value="Ingles">Ingles</option>
          <option value="Servicio social">Servicio social</option>
          <option value="Residencias">Residencias</option>
          <option value="Kardex">Kardex</option>
          <option value="Acta de nacimiento">Acta de nacimiento</option>
        </select>
        <input type="submit" name="subir_archivo" style="margin-top: 2%;" value="Subir archivo" class="btn btn-success">
      </center>
    </div>
  </form>
  {% if archivos %}
  <div class="col-8 container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Ver y descargar</th>
        </tr>
      </thead>
      <tbody>
        {% for archivo in archivos %}
        <tr>
          <td>{{ archivo.nombre }}</td>
          <td><a class="btn btn-success" href="/archivo/{{ archivo.id }}" target="_blank">Archivo</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <p>No se encontro ningun archivo en el expediente.</p>
  {% endif %}
{% endif %}
{% endblock %}
{% else %}
<center>
  <h3 class="mt-4">No ha inciado sesion</h3>
  <a class="btn btn-danger" href="{% url 'login' %}">Inicia Sesion</a>
</center>
{% endif %}
