{% extends 'base.html' %}
{% load static %}

{% block title %}Importar Alumnos{% endblock %}

{% block content %}
<!-- Hey, tu, quien vaya a diseñar esta pantalla, respeta este form, es
 para subir archivos excel al backend. Diseña el html adentro de las
 etiquetas block, que sirven para el motor de templates de django. -->
  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="archivo">
      <button type="submit">Subir</button>
  </form>
  {% if error %}
    <p>{{ error }}</p>
  {% endif %}
{% endblock %}
