<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Registro de Usuarios</title>
        <meta name="description" content="Esta es mi primer pagina web" />
        <meta name="autor" content="Adolfo" />
        <meta name="keywords" content="Mi primer titulo, mi primer pagina">
        <link rel="stylesheet" href="estilos.css">
        
    </head>
    <body>
        <header>
            <h1>Tecnologico Nacional de Mexico</h1>
            <h2>Instituto Tecnologico de Hermosillo</h2>
            <img src="../repo/images/ith_logo.png" alt="Logo Ith">
        </header>
        
        <nav class="menu">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Consulta</a></li>
                <li><a href="#">Subida</a></li>
                <li><a href="#">Registro</a></li>
            </ul>
        </nav>
    <div class="fondodatos">
        Usuario
        <input type="text" name="txt_nombre">

        Clave
        <input type="number" name ="txt_clave">

        Contraseña
        <input type="password" name="txt_password">

        <button name="btn_registro" type="button">Registrar</button>
    </div>

    </body>
</html>





